body {
    background-color: #f4f4f4;
    margin: 0px;    
    font-family: "Cabin", sans-serif;
    font-size: 16px;    

}
h1 {
    font-size: 2.5rem;  
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

h1, h2, h3 {
    font-family: "Merriweather", serif;
}

nav {
    background-color: #BFE4A2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 0px;
    margin-bottom: 20px;
    font-size: 1.1em;
}

nav div {
    color: #000000;
}

#menu {
    order: 2; 
}

#menu ul li { 
    display: inline;
    margin-right: 20px;
}  

#menu ul li a { 
    text-decoration: none ;
    color: #000;
}

#logo {
    max-width: 200px;
    max-height: 80px;
}


#error {
    width: 100%;
    margin: 0px;
    color: #ff4444;
    font-weight: 100;
    font-size: 0.9em;
}

#boton_inicio {
    background-color: #cccccc;
    color: #000000;
    padding: 8px 15px;
    border-radius: 5px;
}
  

button {
    font-weight: bold;
    font-size: 1em;
}

#gameplay {
    height: 837px; 
    width: 1750px;
    margin: auto;
}