body {
    background-color: #f4f4f4;
    margin: 0px;    
    font-family: "Cabin", sans-serif;
}

h1, h2, h3 {
    font-family: "Merriweather", serif;
}

nav {
    background-color: #BFE4A2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 0px;
    margin-bottom: 20px;
    font-size: 1.1em;
}

#menu {
    order: 2; 
}

#menu ul li { 
    display: inline;
    margin-right: 20px;
}  

#logo {
    max-width: 200px;
    max-height: 80px;
}

.boton_inicio {
    background-color: #cccccc;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
}
  

main {
    font-size: 1.1em;
}

a {
    text-decoration: none;
    color: #000000;
}

button {
    font-weight: bold;
    font-size: 1em;
}