.juego {
    background-color: #ccc;
    color: #777;
    width: 70%; 
    height: 650px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#menu {
    order: 2; 
}

#menu ul li { 
    display: inline;
    margin-right: 20px;
}
