.juego {
    background-color: #ccc;
    color: #777;
    width: 70%; 
    height: 650px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagina_seleccionada {
    background-color: #ccc;
}