nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

#menu {
  order: 2; 
}

#menu ul li { 
  display: inline;
  margin-right: 20px;
}

h1 {
  text-align: center;
}

.grid {
  position: relative;
  width: 50%;
  height: 200px;
  margin: auto;
  display: grid;
  grid-template-columns: 33% 34% 33%;
  vertical-align: bottom;
}

.primercubo {
  background-color: #ECDE64;
  position: absolute;
  bottom: 0px;
  left: 33%;
  text-align: center;
  height: 200px;
  width: 34%;
}
.segundocubo {
  background-color: #D9D9D9;
  position: absolute;
  bottom: 0px;
  left: 67%;
  text-align: center;
  height: 150px;
  width: 33%;
}
.tercercubo {
  background-color: #E7C369;
  position: absolute;
  bottom: 0px;
  text-align: center;
  height: 100px;
  width: 33%;
}
table {
  border: 1px solid;
  width: 50%;
  margin: auto;
}
tr:nth-child(even) {background-color: #bbb5b593;}