h1 {
  text-align: center;
}

.grid {
  position: relative;
  width: 50%;
  height: 200px;
  margin: auto;
  display: grid;
  grid-template-columns: 33% 34% 33%;
  vertical-align: bottom;
}

.primercubo {
  background-color: #ECDE64;
  position: absolute;
  bottom: 0px;
  left: 33%;
  text-align: center;
  height: 200px;
  width: 34%;
}
.segundocubo {
  background-color: #D9D9D9;
  position: absolute;
  bottom: 0px;
  left: 67%;
  text-align: center;
  height: 150px;
  width: 33%;
}
.tercercubo {
  background-color: #E7C369;
  position: absolute;
  bottom: 0px;
  text-align: center;
  height: 100px;
  width: 33%;
}
table {
  border-collapse: collapse;
  vertical-align: middle;
  border: 1px solid;
  width: 50%;
  margin: auto;
  padding: 0px;
}

.usuario {
  text-align: left;
}

th, td {
  text-align: center;
  height: 30px;
  margin: 0px;
  border-width: 0px;
  border-style: none;
  padding: 10px 5px;
}

td img {
  float: right;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

tr:nth-child(even) {background-color: #ccc;}

#pag {
  display: inline-block;
  width: 15%;
  margin: 0px;
}

input[type=submit] {
  width: 20px;
  height: 20px;
  border-style: none;
  background-color: #5D9B2E;
  color: #fff;
  font-weight: 900;
  border-radius: 5px;
}
.pagina_seleccionada {
  background-color: #ccc;
  padding: 8px 15px;
  border-radius: 5px;
}