

h1 {
    margin-top: 5%;
    text-align: center;
}

p {
    margin: auto;
    margin-bottom: 20px;
    width: 40%;
    text-align: center;
    font-weight: bold;
}

#error {
    width: 100%;
    margin: 0px;
    color: #ff4444;
    font-weight: 100;
    font-size: 0.9em;
}

form {
    background-color: #ccc;
    color: #000;
    margin: auto;
    margin-top: 50px;
    padding: 50px;
    width: 400px;
    height: 300px;
    border-radius: 5px;
}

input {
    display: block;
    margin-bottom: 30px;
    padding: 5px;
    width: 98%;
    border-radius: 0px;
    border-style: none;
}

button {
    background-color: #5d9b2e;
    color: #ffffff;
    display: block; 
    margin: auto;
    margin-top: 60px;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    font-size: 20px;
}

.manzana {
    width: 20px;
    height: 20px;
    margin-left: 60%;   
}

.creacuenta {
    text-decoration: underline;
}