main {
    background-color: #ccc;
    box-sizing: border-box;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    padding: 20px 50px;
}

h1 {
    margin-top: 0%;
    border-bottom: black solid 3px;
}

h2 {
    margin-top: 50px;
    border-bottom: #777 solid 2px;
}

#usr {
    font-size: 23px;
}

#selector {
    background-color: #5d9b2e;
}

#esconder {
    display: none;
}

.enlinea {
    display: inline;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

#foto {
    margin-left: 20px;
    width: 70px;
    height: 70px;
}

.izquierda {
    float: left;
}

label {
    display: inline-block;
    width: 190px;
    margin-top: 20px;
}

input[type=text] {
    border-width: 0px;
    padding: 5px;
    margin: 5px 0px;
    height: 19px;
}

input[type=password] {
    border-width: 0px;
    padding: 5px;
    margin: 5px 0px;
    height: 19px;
}

input[type=color] {
    margin-top: 0px;
    border-radius: 0px;
    border-style: none;
    background-color: black;
}

button {
    background-color: #f4f4f4;
    text-decoration-color: #000000;
    display: block;
    border-style: none;
    margin-top: 17px;
    width: 100px;
    height: 25px;
    border-radius: 3px;
}